{% for sta in statuses %}
{% if loop.first %}
<table id="complete">
<thead>
<tr>
    <th>Name</th>
    <th>Tagging</th>
    <th>Builds</th>
    <th>Repacks</th>
    <th>Update</th>
    <th>Releasetest</th>
    <th>ReadyForRelease</th>
    <th>Postrelease</th>
</tr>
</thead>
{% endif %}
<tr class='complete'>
  <td><a href="releases/{{ sta['name'] }}/status.html">{{ sta['name'] }}</a></td>
  <td>{% if sta['tag']['progress'] == 1 %}<span class='status_complete'>Complete</span></span>{% elif sta['tag']['progress'] > 0 %}Running{% endif %}</td>
  <td>{% if sta['build']['progress'] == 1 %}<span class='status_complete'>Complete</span>{% elif sta['build']['progress'] > 0 %}Running{% endif %}</td>
  <td>{% if sta['repack']['progress'] == 1 %}<span class='status_complete'>Complete</span>{% elif sta['repack']['progress'] > 0 %}Running{% endif %}</td>
  <td>{% if sta['update']['progress'] == 1 %}<span class='status_complete'>Complete</span>{% elif sta['update']['progress'] > 0 %}Running{% endif %}</td>
  <td>{% if sta['releasetest']['progress'] == 1 %}<span class='status_complete'>Complete</span>{% elif sta['releasetest']['progress'] > 0 %}Running{% endif %}</td>
  <td>{% if sta['readyforrelease']['progress'] == 1 %}<span class='status_complete'>Complete</span>{% elif sta['readyforrelease']['progress'] > 0 %}Running{% endif %}</td>
  <td>{% if sta['postrelease']['progress'] == 1 %}<span class='status_complete'>Complete</span>{% elif sta['postrelease']['progress'] > 0 %}Running{% endif %}</td>
{% if loop.last %}
</table>
{% endif %}
{% else %}
<h1>No completed releases!</h1>
{% endfor %}
